<div class="mt-5">
  <div class="mobile">
    <div class="grupo">
      <b>Estado</b>
      <p>{{adress.uf}}</p>
    </div>
    <div class="grupo">
      <b>Cidade</b>
      <p>{{adress.localidade}}</p>
    </div>
    <div class="grupo">
      <b>Bairro</b>
      <p>{{adress.bairro}}</p>
    </div>
    <div class="grupo">
      <b>Logradouro</b>
      <p>{{adress.logradouro}}</p>
    </div>
    <div *ngIf="adress.complemento" class="grupo">
      <b>Complemento</b>
      <p>{{adress.complemento}}</p>
    </div>
    <div class="grupo">
      <b>DDD</b>
      <p>{{adress.ddd}}</p>
    </div>
  </div>

  <div class="desktop">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Estado</th>
          <th scope="col">Cidade</th>
          <th scope="col">Bairro</th>
          <th scope="col">Logradouro</th>
          <th *ngIf="adress.complemento" scope="col">Complemento</th>
          <th scope="col">DDD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{adress.uf}}</td>
          <td>{{adress.localidade}}</td>
          <td>{{adress.bairro}}</td>
          <td>{{adress.logradouro}}</td>
          <td *ngIf="adress.complemento">{{adress.complemento}}</td>
          <td>{{adress.ddd}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
