<div class="card-endereco mt-4">
  <div >
    <div class="grupo">
      <label>Estado</label>
      <p>{{adress.uf}}</p>
    </div>
    <div class="grupo">
      <label>Cidade</label>
      <p>{{adress.localidade}}</p>
    </div>
    <div class="grupo">
      <label>Bairro</label>
      <p>{{adress.bairro}}</p>
    </div>
    <div class="grupo">
      <label>Logradouro</label>
      <p>{{adress.logradouro}}</p>
    </div>
    <div class="grupo">
      <label>Complemento</label>
      <p>{{adress.complemento}}</p>
    </div>
    <div class="grupo">
      <label>DDD</label>
      <p>{{adress.ddd}}</p>
    </div>
  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Estado</th>
          <th scope="col">Cidade</th>
          <th scope="col">Bairro</th>
          <th scope="col">Logradouro</th>
          <th scope="col">Complemento</th>
          <th scope="col">DDD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{adress.uf}}</td>
          <td>{{adress.localidade}}</td>
          <td>{{adress.bairro}}</td>
          <td>{{adress.logradouro}}</td>
          <td>{{adress.complemento}}</td>
          <td>{{adress.ddd}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
