.mobile
{
    display: inherit;
}

.desktop
{
    display: none;
}

@media (min-width: 1000px) {
    .mobile
    {
        display: none;
    }
    
    .desktop
    {
        display: inherit;
    }

    }