<div class="card-endereco mt-4">
  <div>
    <div class="grupo">
      <label>Estado</label>
      <p></p>
    </div>
    <div class="grupo">
      <label>Cidade</label>
      <p>city</p>
    </div>
    <div class="grupo">
      <label>Bairro</label>
      <p>bairro</p>
    </div>
    <div class="grupo">
      <label>Logradouro</label>
      <p></p>
    </div>
    <div class="grupo">
      <label>Complemento</label>
      <p></p>
    </div>
    <div class="grupo">
      <label>DDD</label>
      <p></p>
    </div>
  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Estado</th>
          <th scope="col">Cidade</th>
          <th scope="col">Bairro</th>
          <th scope="col">Logradouro</th>
          <th scope="col">Complemento</th>
          <th scope="col">DDD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>cidade</td>
          <td>bairro</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
