
.mobile
{
    display: inherit;
    padding: 1rem 2rem;
    border: solid 1px #0000001a;
    border-radius: 10px;
}

.desktop
{
    display: none;
}

@media (min-width: 1000px) {
    .mobile
    {
        display: none;
    }
    
    .desktop
    {
        display: inherit;
    }

    }