<div class="container mt-5">
    <div class="text-center mb-4">
        <h1>Busca CEP</h1>
        <span>Receba informações de endereço a partir do CEP.</span>
    </div>
    <form [formGroup]="form" class="d-flex justify-content-center">
        <input class="form-control" placeholder="Informe o CEP" type="tel" mask="00000-000" formControlName="cep">
        <button class="btn" (click)="searchAddress()">Buscar</button>
    </form>
    <div  class="text-center mt-4 container-alerta">
        <div class="erro" *ngIf="cep!.invalid && formSubmitted">CEP deve possuir 8 caracteres</div> 
    </div> 
    <div  class="mt-5 list-cards">
        <app-card *ngIf="cepEncontrado" [adress]="adress"></app-card>
    </div>
    
    <div *ngIf="cepEncontrado === false" class="text-center mt-5">
        <span >CEP não encontrado.</span>
    </div>
</div>
<app-loading [exibirIcone]="exibirLayerCarregamento"></app-loading>

